    <!-- NAVBAR -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                  <img src="/img/logo.png" alt="">
              </a>
              <button class="navbar-toggler" type="button" tab-pane fade data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" bg="white">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  
                 <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Promocoes">PROMOÇÕES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Destinos">DESTINOS</a>
                  </li>
                
                   <li class="nav-item">
                    <a class="nav-link"asp-controller="CadastrarPassagems" asp-action="Index">CADASTRO PASSAGENS</a>
                  </li>

                   <li class="nav-item">
                    <a class="nav-link"asp-controller="ComprarPassagems" asp-action="Index">COMPRAR PASSAGENS</a>
                  </li>

                   <li class="nav-item">
                    <a class="nav-link"asp-controller="Home" asp-action="Contato">CONTATO</a>
                  </li>


                </ul>
              </div>
            </div>
          </nav>
    </header>
    
    <main class="container">
        <h2 class="text-center mt-5"> SUA MELHOR OPÇÃO EM VIAGENS! </h2>
        <div class="divCarousel">
            <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="img/banner-vertical (1).jpg" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="img/banner-vertical (2).jpg"  alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="img/banner-vertical (3).jpg" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        

        <div id="carousel2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/banner-vertical (4).jpg" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/banner-vertical (5).jpg"  alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/banner-vertical (6).jpg" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div id="carousel3" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carousel3" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carousel3" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/bannerinpe (1).jpg" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/bannerinpe (2).jpg"  alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/bannerinpe (3).jpg" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <div id="carousel4" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carousel4" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carousel4" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/banvet (1).jpg" alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/banvet (2).jpg"  alt="...">
              </div>
              <div class="carousel-item">
                <img src="img/banvet (3).jpg" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel4" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel4" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          </div>
        </main>