    <header class="header-sobre">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
              <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                  <img src="/img/logo.png" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse  justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Promocoes">PROMOÇÕES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Destinos">DESTINOS</a>
                  </li>
                
                   <li class="nav-item">
                    <a class="nav-link"asp-controller="CadastrarPassagems" asp-action="Index">CADASTRO PASSAGENS</a>
                  </li>

                   <li class="nav-item">
                    <a class="nav-link"asp-controller="ComprarPassagems" asp-action="Index">COMPRAR PASSAGENS</a>
                  </li>

                   <li class="nav-item">
                    <a class="nav-link"asp-controller="Home" asp-action="Contato">CONTATO</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    
    <main class="container">
        <div class="sobre-text">
            <h2 class="text-center mt-5"> LIBERDADE DE COMPRA </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eligendi est illo ip Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eligendi est illo ipsam voluptatum quam impedit animi officia odio ducimus culpa nam mollitia, dicta nulla dolorum similique. Earum, tenetur rerum!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eligendi est illo ipsam voluptatum quam impedit animi officia odio ducimus culpa nam mollitia, dicta nulla dolorum similique. Earum, tenetur rerum!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eligendi est illo ipsam voluptatum quam impedit animi officia odio ducimus culpa nam mollitia, dicta nulla dolorum similique. Earum, tenetur rerum!Loremsam voluptatum quam impedit animi officia odio ducimus culpa nam mollitia, dicta nulla dolorum similique. Earum, tenetur rerum!Lorem</p>
            <h2 class="text-center mt-5"> SINTA-SE LIVRE </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eligendi est illo ip Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eligendi est illo ipsam voluptatum quam impedit animi officia odio ducimus culpa nam mollitia, dicta nulla dolorum similique. Earum, tenetur rerum!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eligendi est illo ipsam voluptatum quam impedit animi officia odio ducimus culpa nam mollitia, dicta nulla dolorum similique. Earum, tenetur rerum!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eligendi est illo ipsam voluptatum quam impedit animi officia odio ducimus culpa nam mollitia, dicta nulla dolorum similique. Earum, tenetur rerum!Loremsam voluptatum quam impedit animi officia odio ducimus culpa nam mollitia, dicta nulla dolorum similique. Earum, tenetur rerum!Lorem</p>

        </div>
    </main>